/* כלליים */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   line-height: 1.6;
   background-color: #f9f9f9;
}

/* כותרת עליונה */
header {
   background-color: #007BFF; /* צבע כחול כהה */
   color: white;
   padding: 20px 0;
   text-align: center;
}

header h1 {
   margin: 0;
   font-size: 24px;
   font-weight: bold;
}

/* כפתור המבורגר ייחודי */
.campaign-menu-toggle-btn {
   display: none;
   font-size: 24px;
   color: white;
   background: none;
   border: none;
   cursor: pointer;
   position: absolute;
   top: 15px;
   right: 15px;
   z-index: 10;
}

/* תפריט המבורגר */
.campaign-responsive-menu {
   display: none;
   flex-direction: column;
   background-color: #007bff;
   position: absolute;
   top: 50px;
   right: 0;
   width: 100%;
   z-index: 5;
}

.campaign-responsive-menu.open {
   display: flex;
}

/* תפריט ניווט */
.campaign-nav {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 0;
}

.campaign-nav-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
}

.campaign-nav-item {
   margin-left: 20px;
}

.campaign-nav-item a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   transition: color 0.3s ease;
}

.campaign-nav-item a:hover,
.campaign-nav-item a.active {
   color: black;
   text-decoration: underline;
}

/* תפריט המבורגר רספונסיבי */
@media (max-width: 768px) {
   .campaign-nav {
       display: none;
   }

   .campaign-menu-toggle-btn {
       display: block;
   }

   .campaign-responsive-menu.open {
       max-height: 300px;
       overflow: hidden;
   }
}

/* אזור עיקרי */
.campaign-main {
   padding: 20px;
   max-width: 1000px;
   margin: 20px auto;
   background-color: #ffffff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* עיצוב טפסים */
.campaign-form {
   background-color: #ffffff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.campaign-form label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

.campaign-input, .campaign-textarea, .campaign-select, .campaign-file-input {
   width: calc(100% - 16px);
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
}

.campaign-submit-btn {
   background-color: #28a745;
   color: white;
   border: none;
   padding: 12px 20px;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s ease;
}

.campaign-submit-btn:hover {
   background-color: #218838;
}

/* טבלה */
.campaign-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

.campaign-table th, .campaign-table td {
   border: 1px solid #ddd;
   padding: 12px;
   text-align: left;
}

.campaign-table th {
   background-color: #007BFF;
   color: white;
   font-weight: bold;
}
